{
  "presets": ["es2015-node6/object-rest", "es2017", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-runtime",
  ],
}
