BODY {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Verdana', 'Helvetica Neue', sans-serif;
}
PRE {
  border: none;
  margin: 0;
  padding: 0;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  width: 100vw;
  height: 100vh;
}
button:focus {outline:0;}

#app-loading {
  display: flex;
  flex: 1;
  flex-grow: 1;
  align-items: center;
  align-self: center;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-serif';
  color: #ddddee;
  font-size: 24px;
}
